@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box0;
}

html {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-cyan);
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  background-repeat: no-repeat, no-repeat;
}

.container {
  background-color: #fff;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.img {
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #fff;
}

.content {
  margin-top: 6rem;
  text-align: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.location {
  font-size: 1.4rem;
  color: var(--dark-gray);
  margin-top: 1rem;
}

hr {
  color: var(--dark-gray);
  opacity: 0.5;
  margin-top: 2rem;
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem 0;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.category {
  color: var(--dark-gray);
}
